:root {
	--yellow: #ffc600;
	--black: #272727;
}

html {
	box-sizing: border-box;
	font-family: monospace;
	font-weight: 900;
	font-size: 10px;
	color: var(--black);
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-image: url('../images/topography.svg'),
		linear-gradient(110deg, #f93d66, #6d47d9);
	background-size: 340px, auto;
	min-height: calc(100vh - 100px);
	margin: 50px;
	background-attachment: fixed;
	letter-spacing: -1px;
}

h1 {
	text-align: center;
	font-size: 35px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	border: none;
	color: white;
	padding: 20px 40px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

button:hover {
	background-color: black;
	color: white;
}

.item {
	border: 1px solid grey;
	height: auto;
	width: auto;
}

#container {
	display: grid;
	grid-gap: 0px;
	margin-left: 5%;
	margin-right: 5%;
	height: 500px;
	grid-template-rows: repeat(var(--grid-rows), auto);
	grid-template-columns: repeat(var(--grid-cols), auto);
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
}
